<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.1.xsd
		">
	
	<!-- mybatis -->
	<beans profile="mybatis">
		<context:property-placeholder location="classpath:jdbc.properties"/>
		<import resource="classpath:spring/spring-dao.xml"/>	
	</beans>
	
	<!-- es -->
	<beans profile="es">
		<context:property-placeholder location="classpath:es.properties"/>
		<import resource="classpath:spring/spring-es-config.xml"/>	
	</beans>
	
	<!-- redis -->
	<beans profile="redis">
		<context:property-placeholder location="classpath:redis.properties"/>
		<import resource="classpath:spring/spring-redis-config.xml"/>	
	</beans>
	
	<!-- mongodb -->
	<beans profile="mongodb">
		<context:property-placeholder location="classpath:mongo.properties"/>
		<import resource="classpath:spring/spring-mongodb-config.xml"/>	
	</beans>
	
	<!-- mybatis es -->
	<beans profile="mybatisAndEs">
		<context:property-placeholder location="classpath:jdbc.properties,classpath:es.properties"/>
		<import resource="classpath:spring/spring-dao.xml"/>
		<import resource="classpath:spring/spring-es-config.xml"/>
	</beans>
	
	
</beans>