<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:mongo="http://www.springframework.org/schema/data/mongo"
     xmlns:context="http://www.springframework.org/schema/context"  
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- spring连接mongodb数据库的配置 -->  
    <mongo:mongo-client host="${mongodb.host}" port="${mongodb.port}"  id="mongo">    
       <mongo:client-options write-concern="SAFE"/>    
    </mongo:mongo-client> 
    
    <mongo:db-factory  id="mongoDbFactory" dbname="mongoTest" mongo-ref="mongo" />
    
     <!-- 只要使用这个调用相应的方法操作 -->  
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">    
       <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />    
    </bean>
    
    <context:component-scan base-package="com.tooklili.dao.mongodb" />     
</beans>